brotli==1.2.0
ConfigParser==7.2.0
cryptography==46.0.3
Cython==3.2.1
Django==5.2.8
djangorestframework==3.16.1
dl==0.1.0
docutils==0.22.3
genai==2.1.0
HTMLParser==0.0.2
importlib_metadata==8.7.0
keyring==25.7.0
lockfile==0.12.2
lxml==6.0.2
numpy==2.2.6
ordereddict==1.1
protobuf==6.33.1
pyOpenSSL==25.3.0
python-dotenv==1.2.1
thread==2.0.5
toml==0.10.2
tornado==6.5.2
xmlrpclib==1.0.1
zipp==3.23.0
